{% extends "theme.twig" %}

{% block content %}

	<h1>IceHawk framework</h1>
	<p>
		A micro-framework respecting CQRS - written for PHP 7
	</p>

	<hr class="blockspace">

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-justify">
			<h2 class="text-center">What it is</h2>
			<p>
				The IceHawk framework and especially its self-titled main component provides a basic system for building HTTP based web applications,
				such as websites or RESTful APIs, using the <abbr title="Command Query Responsibility Segregation">CQRS</abbr> approach.
				It simply seperates your code for handling read and write requests.
				A very basic prerequisite for building clean-structured, robust and well-performing web applications, strictly aligned to the HTTP
				protocol verbs.
			</p>
			<p>
				With the additional IceHawk components you can easily manage session and form data, as well as message/event driven architecture.
			</p>
			<p>
				The IceHawk framework is <strong>completely written in PHP 7 with strict types</strong> and fully tested with 100% code coverage.
			</p>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-justify">
			<h2 class="text-center">What it is not</h2>
			<p>
				The IceHawk framework is not a full-blown out-of-the-box web application providing validation, logging, a template engine or even a
				frontend.
			</p>
			<p>
				It is designed as a basic system covering the most common requirements of a from-scratch web application:
				Setup of session and error handling, final responding, wrappers for global variables, routing and the programmatic separation of
				handling read and write requests.
			</p>
			<p>
				It is <strong>no magic</strong>! And that is pretty cool.
			</p>
		</div>
	</div>

	<hr class="blockspace">

	<h2 class="text-center">IceHawk components</h2>

	<div class="row spacer">
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
			<div class="circle">
				<div class="circle-content icehawk">
					<a href="{{ project.getUrl('/docs/icehawk.html') }}">IceHawk</a>
				</div>
			</div>

			<a href="https://packagist.org/packages/icehawk/icehawk" title="Latest stable version of icehawk/icehawk" target="_blank">
				<img src="https://poser.pugx.org/icehawk/icehawk/v/stable" alt="Latest Stable Version">
			</a>

		</div>
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
			<div class="circle">
				<div class="circle-content session">
					<a href="{{ project.getUrl('/docs/session.html') }}">Session</a>
				</div>
			</div>

			<a href="https://packagist.org/packages/icehawk/session" title="Latest stable version of icehawk/session" target="_blank">
				<img src="https://poser.pugx.org/icehawk/session/v/stable" alt="Latest Stable Version">
			</a>

		</div>
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
			<div class="circle">
				<div class="circle-content forms">
					<a href="{{ project.getUrl('/docs/forms.html') }}">Forms</a>
				</div>
			</div>

			<a href="https://packagist.org/packages/icehawk/forms" title="Latest stable version of icehawk/forms" target="_blank">
				<img src="https://poser.pugx.org/icehawk/forms/v/stable" alt="Latest Stable Version">
			</a>

		</div>
		<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center">
			<div class="circle">
				<div class="circle-content pubsub">
					<a href="{{ project.getUrl('/docs/pubsub.html') }}">PubSub</a>
				</div>
			</div>

			<a href="https://packagist.org/packages/icehawk/pubsub" title="Latest stable version of icehawk/pubsub" target="_blank">
				<img src="https://poser.pugx.org/icehawk/pubsub/v/stable" alt="Latest Stable Version">
			</a>

		</div>
	</div>

	<hr class="blockspace">

	<h2 class="text-center">Get startet with IceHawk in less than 2 minutes</h2>

	<div class="panel panel-default">
		<div class="panel-body">
			<iframe width="100%" height="500" src="https://www.youtube.com/embed/ns62lw52AOU" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<hr class="blockspace">

	<h2 class="text-center">Who is using IceHawk</h2>

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.vestino.de" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/vestino.png') }}" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.strauss-innovation.de" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/straussinnovation.png') }}" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.more-and-more.de" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/moreandmore.png') }}" class="img-responsive">
			</a>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.hatico.de" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/hatico.png') }}" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.hajo-mode.com" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/hajomode.png') }}" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.tuzzi.de" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/tuzzi.png') }}" class="img-responsive">
			</a>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.his-jeans.de" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/hisjeans.png') }}" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.carlgross.fashion" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/carlgross.png') }}" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.cg.fashion" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/clubofgents.png') }}" class="img-responsive">
			</a>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.pureshirt.de" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/pureshirt.png') }}" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.daniel-hechter.de" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/danielhechter.png') }}" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.baeumler.com" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/baeumler.png') }}" class="img-responsive">
			</a>
		</div>

		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.maerz.de" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/maerzmuenchen.png') }}" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="https://www.spieth-wensky.com" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/spiethwensky.png') }}" class="img-responsive">
			</a>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
			<a href="http://www.fortuneglobe.com" target="_blank" class="brand-image">
				<img src="{{ project.getUrl('/images/brands/fortuneglobe.png') }}" class="img-responsive">
			</a>
		</div>
	</div>

	<hr class="blockspace">

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2 class="text-center">Authors & contributors</h2>
		</div>
	</div>
	<div class="row spacer">
		<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
			<img class="img-circle img-responsive author-image" src="/images/hwoltersdorf.png" alt="Holger Woltersdorf">
		</div>
		<div class="col-xs-8 col-sm-8 col-md-10 col-lg-10">
			<h3>Holger Woltersdorf - Main author</h3>
			<p>
				CIO at <a href="http://www.fortungelobe.com" title="Go to Fortuneglobe GmbH">Fortuneglobe GmbH</a> - Head of FORTUNE <b>SOLUTIONS</b>
				<br>
				Board member of <a href="http://www.phpug-dresden.org" title="Go to PHP USERGROUP DRESDEN e.V.">PHP USERGROUP DRESDEN e.V.</a>
				<br>
				<i class="fa fa-twitter"></i>
				<a href="https://twitter.com/hollodotme" target="_blank" title="Holger Woltersdorf's twitter profile">
					@hollodotme
				</a>
				&middot;
				<i class="fa fa-github"></i>
				<a href="https://github.com/hollodotme" target="_blank" title="Holger Woltersdorf's github profile">
					hollodotme
				</a>
				<br>
				<i class="fa fa-xing"></i>
				<a href="https://www.xing.com/profile/Holger_Woltersdorf" target="_blank" title="Holger Woltersdorf's Xing profile">
					Xing profile
				</a>
				&middot;
				<i class="fa fa-linkedin"></i>
				<a href="https://www.linkedin.com/in/holger-woltersdorf-aba797b4" target="_blank" title="Holger Woltersdorf's LinkedIn profile">
					LinkedIn profile
				</a>
			</p>
		</div>
	</div>

	<div class="row spacer">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			Contributors:
			<a href="https://github.com/Hansel23" target="_blank">Hansel23</a>
			&middot;
			<a href="https://github.com/ralfnoack" target="_blank">ralfnoack</a>
		</div>
	</div>

{% endblock %}
